<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MLS System</title>
</head>
<body>
<div class="box">
    <div>
        <h1>Welcome to your investment portfolio!</h1>
        <h3>Please log in below.</h3>
    </div>
    <form action="LoginVerification"
          method="post"
          name="login"
          id="login-form">

        <strong>Username:</strong><input type="text" name="username"><br>
        <strong>Password:</strong><input type="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
</div>
</body>
</html>